@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
    --BackgroundDark: #F0ECF4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    background-color: var(--BackgroundDark);
    transition: 0.2s;
}
